* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: fit-content;
  width: 100%;
  display: flex;
  background-color: rgb(181, 181, 184);
}

.container{
  width: 100%;

}
.date{
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 5px 10px 5px grey;
  padding: .7rem 0;
}
.date button{
  border: transparent;
  background-color: transparent;
  color: blue;
  opacity: .6;
  font-weight: bold;
  letter-spacing: .12em;
  cursor: pointer;
  transition: .3s ease-in-out;
  padding: .2rem .4rem;
}
.date button:hover{
color: blue;
opacity: 1;
transform: scale(1.03);
}
.timeZone select{
  width: 100%;
  padding: .2rem .4rem;
  background-color: rgb(206, 201, 201);
}
#hour{
  display: inline-block;
  margin: .5rem 1rem;
  padding: .3rem;
  flex-direction: row;
}
.weekTable td{
  border-bottom: 1px solid grey;
}
.weekTable th{
  background-color: rgb(169, 167, 167);
  padding:0 1rem;
}